<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/profile.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="flex">
       <%- include('head') %>

       <div class="mainContainer flex flex-col items-center ml-12">
           <header>
               <div class="container font-['arial']">
                   <div class="profile w-[90vw]">
                       <div class="profile-image">
                           <img src="../images/uploads/<%= user.profileImage %> ">
                       </div>
                      <div class="flex gap-20">
                       <div class="profile-user-settings">
                           <h1 class="profile-user-name"><%= user.username %></h1><br />
                           <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
                       </div>
                    
                       <div class="profile-stats">
                           <ul class="flex my-3">
                               <li class="flex flex-col"><p class="text-3xl font-semibold tracking-tighter">posts</p><span class="profile-stat-count text-center block"><%= user.posts.length %></span></li>
                               <li class="flex flex-col"><p class="text-3xl font-semibold tracking-tighter">followers</p><span class="profile-stat-count text-center block"><%= user.followers.length %></span></li>
                               <li class="flex flex-col"><p class="text-3xl font-semibold tracking-tighter">following</p><span class="profile-stat-count text-center block"><%= user.following.length %></span></li>
                           </ul>
                       </div>  
                      </div>
                       <div class="profile-bio">
                           <p><%= user.name %></p>
                           <p><%= user.bio %></p>
                       </div>

                       <% if(userid.toString().toLowerCase() === currentUserID.toString().toLowerCase()) { %>
                        <span></span>
                    <% } else { %>
                        <% if(user.followers.indexOf(currentUser._id) == -1 ) { %>
                            <a href="/user/follow/<%= user.username %>"><button class="bg-blue-500 hover:bg-blue-600 duration-150 ease text-white px-8 rounded-lg py-3 text-2xl mt-4">Follow</button></a>
                        <% } else { %>
                            <a href="/user/follow/<%= user.username %>"><button class="bg-blue-500 hover:bg-blue-600 duration-150 ease text-white px-8 rounded-lg py-3 text-2xl mt-4">Following</button></a>
                        <% } %>
                    <% } %>
                   </div>
                   <!-- End of profile section -->
                
               </div>
           </header>
           <main>
            
               <div class="container w-[90vw] mx-10 py-10">
                   <div class="flex flex-wrap gap-1 w-[75vw]">
                        <% if(user.posts.length > 0) { %>
                            <% user.posts.reverse().forEach(post => { %>
                             <a href="/mypost/view/<%= post._id %>"><div class="postImage max-w-96 max-h-96 overlow-hiden">
                                 <img class="w-full h-full object-cover rounded-md" src="../images/uploads/<%= post.picture %>" alt="">
                             </div></a>
                            <% }) %>
                        <% } else { %>
                            <h1 class="text-4xl font-semibold text-center block">No posts yet!</h1>
                        <% } %>
                   </div>
               </div>
           </main>
       </div>
    </div>
    <%- include('footer') %>
</body>
</html>